nav {
  list-style-type: none;
  background-color: #B3BADC;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}


li a {
  text-decoration: none;
  color: #232F66;
  display: block;
  float: left;
  padding: 15px 100px;
}

Li a:hover {
  background-color: #232F66;
  color: #B3BADC;
}
h3 {
  color: #B3BADC;
  text-decoration: overline underline 2px;
  letter-spacing: 3px;
  word-spacing: 4px; 
  font-size: 25px;
}
body {
  background-color: #232F66;
}
 
h2: hover {
    text-decoration: underline wavy blue 10px;
    font-size: 400%;
    text-transform: uppercase;
}
